:root 
{
    --main-colour: #000caf;
    --main-colour-light: #2433ff;
    --secondary-colour: #005aaf;
    --tertiary-colour: #202020;
    --text-colour: #ececec;
}

body 
{
    background-color: var(--main-colour);
    color: var(--text-colour);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    background-color: var(--main-colour-light);
    padding: 5px;
    gap: 10px;
}

.grid > div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--main-colour);
    background-color: var(--main-colour);
    border-radius: 5px;
}

.grid > div > a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid > div > a > img 
{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.desc 
{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

/* Media query for tablet devices */
@media (max-width: 1023px) 
{
    .grid 
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

/* Media query for mobile devices */
@media (max-width: 767px) 
{
    .grid 
    {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}
